{% extends 'base.html.twig' %}

{% block title %}Admin Routes{% endblock %}

{% block body %}
    {% include 'admin/header.html.twig' with {'title': 'Users', 'button_link': path('admin'), 'button_text': 'Admin'} %}
    <main class="p-6 flex flex-col gap-12">
        <section class="flex flex-col gap-3">
            <div class="grid grid-cols-1 gap-4">
                {% for route in adminRoutes %}
                    <a href="{{ path(route.name) }}" class="flex flex-col shadow-lg rounded-lg border border-gray-300 p-4 hover:bg-gray-100">
                        <span class="text-lg font-medium">{{ route.formattedName }}</span>
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
