<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Stunning - {% block title %}Home{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/logo.png') }}">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body class="overflow-x-hidden overscroll-none">
        {% block body %}{% endblock %}
    </body>
</html>
