<section class="absolute inset-0 z-0 bg-black">
    <img src="{{ asset('images/background.jpg') }}" alt="Background image" class="w-full h-full object-cover filter blur-[3px]">
    <div class="absolute inset-0 bg-black opacity-50"></div>
</section>