<header class="relative px-6 py-4 h-16 flex justify-between items-center bg-white shadow-lg w-full z-10">
    <div class="flex flex-row items-center gap-4">
        <h1 class="text-4xl font-semibold"><a href="{{ path('home') }}">Stunning</a></h1>
        {# <div class="bg-white text-black border-2 border-black rounded">
            <a href="#" class="flex items-center gap-2 px-4 py-2">
                <twig:ux:icon name="tabler:database" height="24" width="24" />
                <span>Admin</span>
            </a>
        </div> #}
    </div>
    <div class="relative group">
        <a href="{{ path('profile') }}" class="flex flex-row items-center gap-4">
            <span class="text-xl">admin@stunning.com</span>
            <img src="https://avatar.iran.liara.run/public/1" alt="Profile picture of USER" class="rounded-full h-10 w-10 object-contain">
        </a>
        <div class="absolute right-0 mt-2 w-48 bg-white border border-gray-300 rounded shadow-lg opacity-0 group-hover:opacity-100 transition-opacity duration-300 z-20">
            <a href="{{ path('settings') }}" class="block flex flex-row-reverse justify-between px-4 py-2 text-gray-700 hover:bg-gray-100 z-30">
                <twig:ux:icon name="tabler:settings" height="24" width="24" />
                <span>Settings</span>
            </a>
            <a href="{{ path('app_logout') }}" class="block flex flex-row-reverse justify-between px-4 py-2 text-red-500 hover:bg-gray-100 z-30">
                <twig:ux:icon name="tabler:logout" height="24" width="24" />
                <span>Logout</span>
            </a>
        </div>
    </div>
</header>